.button {
  display: inline-block;
  padding: 15px 25px;
  font-size: 24px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: black;
  background-color: red;
  border: none;
  height: 120px;
  border-radius: 60px;
  box-shadow: 0 9px #999;
  position: absolute;
  left:70%;
  top: 24em;
}
.button:hover {background-color: #ad0c14}
.button:active {
  background-color: #ad0c14;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.launch-pad {
  display: grid;
  grid-template-columns: auto auto auto;
  text-align: center;
}
.my-4 {
  margin: 30px;
}
.miss {
  position: absolute;
  left:50%;
  top: 40em;
}
